article {
    max-width: 600px;
    hyphens: auto; 
    /* rozmieszcza słowa tak aby odstępy między nimi były równe */
    margin: 0 auto;
}

h1 {
    font-family: serif;
    text-align: left;
}

h2 {
    font-family: serif;
    text-align: left;
}

p {
    font-family: monospace;
    text-align: justify;
}